body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
  color: #333;
}

.navbar {
  display: flex;
  justify-content: center;
  background-color: #ff8c00;
  padding: 1rem;
}

.navbar button {
  background: none;
  border: none;
  color: white;
  font-size: 1.2rem;
  margin: 0 1rem;
  cursor: pointer;
}

.navbar button:hover {
  text-decoration: underline;
}

.container {
  padding: 2rem;
  max-width: 600px;
  margin: 2rem auto;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

form input, select {
  width: 100%;
  padding: 0.75rem;
  margin: 0.5rem 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button[type="submit"] {
  background-color: #ff8c00;
  color: white;
  padding: 0.75rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}

button[type="submit"]:hover {
  background-color: #e07b00;
}

input[type="date"] {
  cursor: pointer;
}

.services-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.service-card {
  width: 80%;
  max-width: 400px;
  background-color: #f5f5f5;  
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  margin: 15px 0;        
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.service-card h3 {
  color: #ff7f50;       
  margin-bottom: 10px;
}

.service-card p {
  color: #333;           
  font-size: 16px;
}


.clients-table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
}

.clients-table th,
.clients-table td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

.clients-table th {
  background-color: #ff8c00; 
  color: white;
}

.clients-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.clients-table button {
  margin: 5px;
  padding: 5px 10px;
  background-color: #ff6347; 
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.clients-table button:hover {
  background-color: #e74c3c; 
}

.service-icon {
  width: 50px;     
  height: 50px;
  margin-bottom: 10px;   
}
